@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.content h3{
font-size: clamp(1.8rem, 4vw, 2.5rem);
color: #ffffff;
margin-bottom: 1rem;
}
.content p{
    font-size: clamp(1rem,2vw, 1.2rem);
color: #aaa;
line-height: 1.6;
}
.image-container{
    position: relative;
    width: 100%;
    padding-top: 70% ;
    perspective: 800px;
    transform-style: preserve-3d;
}
.box{
    position: absolute;
    top:50%;
    width: 60%;
    height: 75%;
    overflow: hidden;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255 .5);
    box-shadow: 0 0 20px rgba(0,0,0 .5);
    transition: all .8s ease-in-out;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}
.box :first-of-type{
    left: 15%;
    transform: translate(-50%, -50%) rotateY(-10deg);
    z-index: 5;
}
.box ::nth-of-type(2){
left: 20%;
 transform: translate(-50%, -50%) rotateY(-10deg);
    z-index: 5;
}
.box ::nth-of-type(3){
    left: 25%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-50px);
    z-index: 10;

}
.box :nth-last-of-type(4){
left: 30%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-100px);
    z-index: 5;
}.box :nth-last-of-type(5){
left: 35%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-150px);
    z-index: 2;
}
.box :nth-last-of-type(6){
    left: 35%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-200px);
    z-index: 2;
}
@media(max-width: 992px){
.container{
    grid-template-columns: 1fr;
    text-align: center;
}
.image-container{
    padding-top: 80%;
}
.box{
    width: 70%;
    height: 70%;
}
.box :first-of-type{
    left: 35%;
    transform: translate(-50%, -50%) rotateY(-8deg);
    z-index: 5;
}
.box ::nth-of-type(2){
left: 40%;
 transform: translate(-50%, -50%) rotateY(-10deg);
    z-index: 5;
}
.box ::nth-of-type(3){
    left: 45%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-40px);
    z-index: 10;

}
.box :nth-last-of-type(4){
left: 50%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-80px);
    z-index: 5;
}.box :nth-last-of-type(5){
left: 55%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-120px);
    z-index: 2;
}
.box :nth-last-of-type(6){
    left: 60%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-160px);
    z-index: 2;
}
}